/* scroll-behavior for nav bar */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* variables for main colours of the website and for colour and size of the portfolio gridarea's border */
:root {
  --color1: #30333C;
  --color2: #89C0C2;
  --color3: #445877;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

h1 {
  color: var(--color2);
  font-size: 30px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
  color: var(--color1);
}

h4 {
  font-size: 18px;
}

.customNav {
  position: fixed;
  width: 100%;
  background: url("../images/transparency.png");
  background-color: transparent !important;
  background-size: cover;
  z-index: 10;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 80px;
  height: 80px;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: end;
}

.customHeader {
  color: #89C0C2;
  font-size: 28px;
} 

.customHeader:hover {
  color: #89C0C2;
}

.nav-item a {
color: var(--color2) !important;
border-bottom: solid 4px var(--color2);
padding: 5px 5px 0 5px;
text-decoration: none;
margin: 5px;
font-size: 20px;
}

/* hover pseudo-class for all links in the page */
a:hover {
  color: var(--color2);
  background-color: rgba(63, 81, 104, 0.5);
}

.navbar-toggler {
  color: #89C0C2 !important;
  background-color: #89C0C2 !important;
}

/* hero jumbotron */
.portfolioBackground {
  background-image: linear-gradient(rgba(68, 88, 119, 0.5), rgba(61, 113, 192, 0.5)), url(../images/02-hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  height: 400px;
  padding: 0 !important;
}

/* .customJumbo {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
} */

.profilePic {
  z-index: 10;
  border-radius: 50px;
  height: 180px;
  width: auto;
}

.jumboText{
color: #89C0C2;
text-shadow: 1px 1px #3B5998;
font-weight: 600;
}

.jumboText p {
  font-weight: 600;
}

.jumboButton {
  background-color: #89C0C2;
  border: #445877;
}


/* colour for all the h2 and h3 in the main container (about me, work, contact) */
.mainContainer h2, .mainContainer h3 {
  color: var(--color3);
  font-weight: 800;
}

.card p {
  color: var(--color3);
  font-weight: 550
}

section {
  font-size: 18px;
}

article {
  font-size: 18px;
}

/* About section */
.about {
  padding: 30px 100px 50px 40px;
  height: 280px;
}

/* Style for the sides sections */
.aboutmeside, .workside, .skillsSide, .contactmeside {
  display: flex;
  border-right: solid 4px var(--color3);
  padding: 0 20px 0 20px;
  justify-content: flex-end;
  align-items: center;
}

.aboutmetext, .workCards, .skillList, .contactmelinks {
padding-left: 40px;
}

.aboutmetext {
  color: var(--color3);
  display: flex;
  text-align: justify;
  align-items: center;
}

/* work section */
.work {
  display: flex;
  padding: 30px 100px 50px 40px;
  /* height: 800px; */
}

.cardContainer {
  padding: 5px;
  }

  .card img {
    max-height: 230px;
    width: auto;
    object-fit: cover;
  }

  .mainWorkImg {
    max-height: 330px !important;
    width: auto;
    object-fit: cover;
  }

.card {
    border: solid 4px #89C0C2;
    background-color: #89C0C2;
  }

.customButton {
    background-color: #445877;
    border: #445877;
  }

.skills li {
  margin: 1rem;
}

.skills {
  display: flex;
  padding: 30px 100px 50px 40px;
  /* height: 300px; */
}

.skillList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #445877;
  font-weight: 600;
}

/* contact section */
.contact {
  display: flex;
  padding: 30px 100px 50px 40px;
  height: 220px;
}

/* style for the contact me links at the end of page */
.contactmelinks {
  grid-area: contactmelinks;
  display: flex;
  padding-left: 40px;
  align-items: center;
  justify-content: space-between;
}

.contactmelinks a {
  color: var(--color3);
  border-bottom: solid 4px var(--color3);
  text-decoration: none;
  padding: 4px;
}

/* footer with message and copywright */
footer {
  /* background-color: var(--color1); */
  color: var(--color2);
  text-align: center;
  padding: 20px;
}

/* .fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 100px;
}

.fa:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
} */
















/* Media query for a screen of max-width 600px, new rules applied*/
@media only screen and (max-width: 600px) {

  * {
  margin: 0 auto;
  box-sizing: none;
  }

  h1 {
    font-size: 20px;
  }
  
  h2 {
    font-size: 18px;
  }
  
  h3 {
    font-size: 15px;
  }

  h4 {
    font-size: 10px;
  }

  nav a {
    display: none;
  }

  nav a:last-child {
    display: contents;
  }

  .subtitle {
    position: relative;
    width: 160px;
    top: 60%;
    left: 68%;
  }

  section {
    font-size: 14px;
  }
  
  article {
    font-size: 14px;
  }

  #about {
    display: grid;
    grid-template-rows: 80px 440px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "aboutmeside"
    "aboutmetext";
    height: 520px;
    padding: 0;
    margin: 0 auto;
  }
  
  #aboutmeside, #workside, #contactmeside {
    display: flex;
    border-right: none;
    justify-content: center;
    align-items: center;
  }
  
  #aboutmetext {
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: flex-start;
    width: 300px;
    padding: 0;
    margin: 0 auto;
  }
  
  #profileimg {
    height: 200px;
    width: auto;
    float: left;
    padding: 30px;
    border-radius: 50px;
  }
  
  #work {
    display: grid;
    grid-template-rows: 8% 85%;
    grid-template-columns: 1fr;    grid-template-areas: 
    "workside" "worklinks";
    padding: 0px;
    height: 855px;
    margin: 0 auto;
  }
  
  #worklinks {
    grid-area: worklinks;
    display: grid;
    width: 300px;
    height: 950px;
    grid-template-rows: 15% 15% 15% 15% 15%;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "portfolio1"
    "portfolio2" "portfolio3"
    "portfolio4" "portfolio5";
    padding: 0;
    margin: 0 auto;
    }
  
  #worklinks a {
    padding: 0;
  }
  
  .heading {
    display: flex;
    background-color: var(--color2);
    color: var(--color1);
    justify-content: center;
    align-items: center;
    width: 205px;
    height: 55px;
    padding: 0px;
  }
  
  #contact {
    display: grid;
    grid-template-rows: 15% 85%;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "contactmeside" "contactmelinks";
    height: 350px;
    padding: 0;
    margin: 0 auto;
  }
  
  #contactmelinks {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0 auto;
  }

  #contactmelinks a {
    font-size: 14px;
    padding: 0;
    margin: 15px;
  }
  
  footer {
    width: 100%;
    padding: 0px;
    font-size: 9px;
  }
}